useDynLib(robcdcc, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(dplyr, "%>%", "case_when", "select")
importFrom(purrr, "map")
importFrom(stats, "median", "qchisq", "rchisq", "rnorm", "var")
exportPattern("^[[:alpha:]]+")
